<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modell bearbeiten</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <style>
        body {
            background-color: #FFFFFF;
        }
        .btn-custom {
            background-color: #6D8672;
            color: #FFFFFF;
        }
        .btn-custom:hover {
            background-color: #316B5F;
            color: #FFFFFF;
        }
    </style>
</head>
<body>
    <div class="container my-5">
        <h2 style="padding-top: 40px;">Modell bearbeiten</h2>
        <div class="card">
            <div class="card-body">
                <form action="/modell/<%= modell.id %>/update" method="POST">
                    <div class="form-group">
                        <label for="marke">Marke:</label>
                        <input type="text" class="form-control" id="marke" name="markeBezeichnung" value="<%= modell.marke ? modell.marke.bezeichnung : 'Nicht angegeben' %>" readonly>
                        <input type="hidden" name="marke" value="<%= modell.marke ? modell.marke.id : '' %>">
                    </div>

                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" name="name" value="<%= modell.name %>" required>
                    </div>
                  
                    <div class="form-group">
                        <label for="beschreibung">Karosserieform:</label>
                        <select class="form-control" id="beschreibung" name="beschreibung" required>
                            <% ['SUV', 'Limousine', 'Coupé', 'Kombi', 'Cabrio', 'Pick-up', 'Van'].forEach(function(option) { %>
                                <option value="<%= option %>" <%= modell.beschreibung === option ? 'selected' : '' %>><%= option %></option>
                            <% }); %>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-custom">Speichern</button>
                    <a href="/modell" class="btn btn-secondary">Zurück zur Liste</a>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.amazonaws.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
