<!DOCTYPE html>
<html>
<head>
  <title>Modell Details</title>
</head>
<body>
  <h1>Modell Details</h1>
  <p>Name: <%= modell.name %></p>
  <p>Baujahr: <%= modell.baujahr %></p>
  <p>Beschreibung: <%= modell.beschreibung %></p>
  <p>Sitzplätze: <%= modell.sitzplaetze %></p>
  <p>Marke: <%= modell.marke ? modell.marke.bezeichnung : 'Keine' %></p>
  <h2>Angebote</h2>
  <ul>
    <% modell.angebote.forEach(function(angebot) { %>
      <li><%= angebot.beschreibung %> - <%= angebot.preis %>€</li>
    <% }); %>
  </ul>
  <a href="/modell">Zurück zur Liste</a>
</body>
</html>
