<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marken</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <style>
        .action-buttons .btn {
            flex: 1;
            margin: 5px;
        }

        @media (max-width: 1200px) {
            .action-buttons .btn {
                display: block;
                width: 100%;
                margin-bottom: 10px;
            }
        }
    </style>
</head>

<body>
    <div class="container my-5">
        <h2 style="padding-top: 40px;">Fahrzeuge</h2>
        <div class="row">
            <% marken.forEach(function(marke) { %>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= marke.bezeichnung %>
                            </h5>
                            <div class="action-buttons mb-3 d-block block-wrap">
                                <button class="btn btn-primary btn-sm toggleButton mr-1 mb-1 w-100" data-id="<%= marke.id %>">
                                    Modelle anzeigen
                                </button>
                                <a class="btn btn-primary btn-sm mr-1 mb-1 w-100" href="/marke/<%= marke.id %>/edit">bearbeiten</a>
                                <form action="/marke/<%= marke.id %>/delete" method="POST" class="mr-1 mb-1 w-100">
                                    <button type="submit" class="btn btn-danger btn-sm w-100">löschen</button>
                                </form>
                            </div>
                            <ul class="list-group modelleListe" id="modelleListe-<%= marke.id %>" style="display: none;">
                                <% marke.modelle.forEach(function(modell) { %>
                                    <li class="list-group-item">
                                        <%= modell.name %>
                                    </li>
                                <% }); %>
                            </ul>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
        <div class="text-center mt-4">
            <a href="/dashboard" class="btn btn-secondary mt-3">Zum Dashboard</a>
            <a class="btn btn-primary mt-3" href="/marke/new">Hinzufügen</a>
            
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.querySelectorAll('.toggleButton').forEach(function(button) {
            button.addEventListener('click', function() {
                var id = this.getAttribute('data-id');
                var list = document.getElementById('modelleListe-' + id);
                var isVisible = list.style.display === 'block';
                list.style.display = isVisible ? 'none' : 'block';
                this.textContent = isVisible ? 'Modelle anzeigen' : 'Modelle verstecken';
            });
        });
    </script>
</body>

</html>
