<!-- views/pages/bewertung/edit.ejs -->
<div>
    <h2>Edit Rating</h2>
    <form action="/bewertung/<%= bewertung.id %>" method="POST">
      <label for="benutzer">Benutzer:</label>
      <select id="benutzer" name="benutzer" required>
        <% benutzer.forEach(function(user) { %>
        <option value="<%= user.id %>" <%= user.id === bewertung.benutzer.id ? 'selected' : '' %>><%= user.vorname %> <%= user.nachname %></option>
        <% }); %>
      </select>
  
      <label for="buchung">Buchung:</label>
      <select id="buchung" name="buchung" required>
        <% buchungen.forEach(function(buchung) { %>
        <option value="<%= buchung.id %>" <%= buchung.id === bewertung.buchung.id ? 'selected' : '' %>><%= buchung.auto.beschreibung %> (von <%= buchung.buchungVon %> bis <%= buchung.buchungBis %>)</option>
        <% }); %>
      </select>
  
      <label for="sterne">Sterne:</label>
      <input type="number" id="sterne" name="sterne" value="<%= bewertung.sterne %>" min="1" max="5" required>
  
      <label for="kommentar">Kommentar:</label>
      <textarea id="kommentar" name="kommentar"><%= bewertung.kommentar %></textarea>
  
      <button type="submit">Update</button>
    </form>
  </div>
  