<!DOCTYPE html>
<html>
<head>
  <title>Bewertungen</title>
</head>
<body>
  <h1>Liste aller Bewertungen</h1>
  <a href="/bewertung/new">Neue Bewertung erstellen</a>
  <ul>
    <% bewertungen.forEach(function(bewertung) { %>
      <li>
        <a href="/bewertung/<%= bewertung.id %>">
          Bewertung von <%= bewertung.benutzer.vorname %> <%= bewertung.benutzer.nachname %> für <%= bewertung.angebote.beschreibung %> - <%= bewertung.sterne %> Sterne
        </a>
        <a href="/bewertung/<%= bewertung.id %>/edit">Bearbeiten</a>
        <form action="/bewertung/<%= bewertung.id %>/delete" method="POST" style="display:inline;">
          <button type="submit">Löschen</button>
        </form>
      </li>
    <% }); %>
  </ul>
</body>
</html>
