<!DOCTYPE html>
<html>
<head>
  <title>Neue Bewertung erstellen</title>
</head>
<body>
  <h1>Neue Bewertung erstellen</h1>
  <form action="/bewertung/create" method="POST">
    <label for="sterne">Sterne:</label>
    <input type="number" name="sterne" id="sterne" min="1" max="5" required>
    <br>
    <label for="kommentar">Kommentar:</label>
    <textarea name="kommentar" id="kommentar"></textarea>
    <br>
    <label for="benutzer">Benutzer:</label>
    <select name="benutzer" id="benutzer">
      <% benutzer.forEach(function(user) { %>
        <option value="<%= user.id %>"><%= user.vorname %> <%= user.nachname %></option>
      <% }); %>
    </select>
    <br>
    <label for="angebote">Angebot:</label>
    <select name="angebote" id="angebote">
      <% angebote.forEach(function(angebot) { %>
        <option value="<%= angebot.id %>"><%= angebot.beschreibung %></option>
      <% }); %>
    </select>
    <br>
    <button type="submit">Erstellen</button>
  </form>
  <a href="/bewertung">Zurück zur Liste</a>
</body>
</html>
