<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bewertung Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <style>
        body {
            background-color: #FFFFFF; /* Weißer Hintergrund */
        }
        .btn-custom {
            background-color: #6D8672; /* Mittelgrün */
            color: #FFFFFF; /* Weißer Text */
        }
        .btn-custom:hover {
            background-color: #316B5F; /* Dunkelgrün */
            color: #FFFFFF; /* Weißer Text */
        }
        .card-header-custom {
            background-color: #ffffff; /* Hellbeige */
            color: #316B5F; /* Dunkelgrün für Text */
        }
        .card-footer-custom {
            background-color: #ffffff; /* Hellbeige */
        }
    </style>
</head>
<body>
    <div class="container my-5">
        <div class="card">
            <div class="card-header card-header-custom">
                <h2>Bewertung Details</h2>
            </div>
            <div class="card-body">
                <p><strong>Sterne:</strong> <%= bewertung.sterne %></p>
                <p><strong>Kommentar:</strong> <%= bewertung.kommentar %></p>
                <p><strong>Benutzer:</strong> <%= bewertung.benutzer.vorname %> <%= bewertung.benutzer.nachname %></p>
                <p><strong>Angebot:</strong> <%= bewertung.angebote.beschreibung %></p>
            </div>
            <div class="card-footer card-footer-custom">
                <a class="btn btn-secondary mt-3" href="/bewertung">Zurück zur Liste</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.amazonaws.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
