<!DOCTYPE html>
<html>
<head>
  <title>Bewertung Details</title>
</head>
<body>
  <h1>Bewertung Details</h1>
  <p>Sterne: <%= bewertung.sterne %></p>
  <p>Kommentar: <%= bewertung.kommentar %></p>
  <p>Benutzer: <%= bewertung.benutzer.vorname %> <%= bewertung.benutzer.nachname %></p>
  <p>Angebot: <%= bewertung.angebote.beschreibung %></p>
  <a href="/bewertung">Zurück zur Liste</a>
</body>
</html>
