<!DOCTYPE html>
<html>
<head>
  <title>Buchungen</title>
</head>
<body>
  <h1>Liste aller Buchungen</h1>
  <a href="/buchung/new">Neue Buchung erstellen</a>
  <ul>
    <% buchungen.forEach(function(buchung) { %>
      <li>
        <a href="/buchung/<%= buchung.id %>">
          <%= buchung.buchungsdatum %> - <%= buchung.status %>
        </a>
        <a href="/buchung/<%= buchung.id %>/edit">Bearbeiten</a>
        <form action="/buchung/<%= buchung.id %>/delete" method="POST" style="display:inline;">
          <button type="submit">Löschen</button>
        </form>
      </li>
    <% }); %>
  </ul>
</body>
</html>
