<!DOCTYPE html>
<html>
<head>
  <title>Buchung Details</title>
</head>
<body>
  <h1>Buchung Details</h1>
  <p>Preis: <%= buchung.preis %>€</p>
  <p>Status: <%= buchung.status %></p>
  <p>Buchungsdatum: <%= buchung.buchungsdatum %></p>
  <p>Buchung von: <%= buchung.buchungVon %></p>
  <p>Buchung bis: <%= buchung.buchungBis %></p>
  <p>Mieter: <%= buchung.mieter ? buchung.mieter.vorname : 'Nicht angegeben' %></p>
  <p>Angebot: <%= buchung.angebote ? buchung.angebote.beschreibung : 'Nicht angegeben' %></p>
  <a href="/buchung">Zurück zur Liste</a>
</body>
</html>

  