<!-- views/pages/user/show.ejs -->
<div>
    <h2>User Details</h2>
    <p><strong>Vorname:</strong> <%= user.vorname %></p>
    <p><strong>Nachname:</strong> <%= user.nachname %></p>
    <p><strong>Email:</strong> <%= user.email %></p>
    <p><strong>Adresse:</strong> <%= user.adresse %></p>
    <p><strong>Role:</strong> <%= user.role %></p>
    <a class="btn btn-primary" href="/user">Zurück zur Liste</a>
  </div>
  