<!-- views/pages/auto/new.ejs -->
<div>
    <h2>Create New Auto</h2>
    <form action="/auto" method="POST">
        <label for="ps">PS:</label>
        <input type="number" id="ps" name="ps" required>
        
        <label for="getriebeart">Getriebeart:</label>
        <select id="getriebeart" name="getriebeart" required>
            <option value="Automatik">Automatik</option>
            <option value="Manuell">Manuell</option>
        </select>
        
        <label for="preis">Preis:</label>
        <input type="text" id="preis" name="preis" required>

        <label for="standort">Standort:</label>
        <input type="text" id="standort" name="standort" required>
        
        <label for="beschreibung">Beschreibung:</label>
        <textarea id="beschreibung" name="beschreibung" required></textarea>
        
        <label for="verfügbarkeitVon">Verfügbarkeit Von:</label>
        <input type="date" id="verfügbarkeitVon" name="verfügbarkeitVon" required>
        
        <label for="verfügbarkeitBis">Verfügbarkeit Bis:</label>
        <input type="date" id="verfügbarkeitBis" name="verfügbarkeitBis" required>
        
        <label for="vermieter">Vermieter:</label>
        <select id="vermieter" name="vermieter" required>
            <% vermieter.forEach(function(user) { %>
            <option value="<%= user.id %>"><%= user.name %></option>
            <% }); %>
        </select>
        
        <label for="modelle">Modell:</label>
        <select id="modelle" name="modelle" required>
            <% modelle.forEach(function(modell) { %>
            <option value="<%= modell.id %>"><%= modell.marke %> <%= modell.name %> bj <%= modell.baujahr %></option>
            <% }); %>
        </select>
        
        <button type="submit">Submit</button>
    </form>
</div>

